h1, h2, h3, h4, h5, h6 
{
	color: #bf0000;
}

#header 
{
	background-image: url('../images/header-red_20091029.png');
}

.blogDate 
{
	color: #bf0000;
	background: url('../images/news-red.png') no-repeat;
}

a.blogHeading 
{
	color: #bf0000;
	background: url('../images/post-red.png') no-repeat;
}