/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 *   http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */

html {
    overflow-y: scroll;
}

body {
    background-color: white;
    background-image: url("../images/body-bg.png");
    background-repeat: repeat-x;
    background-position: bottom;
    background-attachment: fixed;
    color: #777777;
    font-family: 'Lucida Sans', 'Helvetica', 'Sans-serif', 'sans';
    font-size: 9px;
    line-height: 1.8em;
    height: 99%;
    padding: 0px;
    margin: 0px;
}

code {
    font-family: 'Courier', 'monospace';
    font-size: 13px;
}

dl {
    padding: 4px 4px 4px 6px;
    border: 1px solid #aaa;
    background-color: #ffc;
}

dt {
    color: #900;
}

a.externalLink,a.externalLink:link,a.externalLink:visited,a.externalLink:active,a.externalLink:hover {
    background: url("../images/external.png") right center no-repeat;
    padding-right: 18px;
}

a.newWindow,a.newWindow:link,a.newWindow:visited,a.newWindow:active,a.newWindow:hover {
    background: url("../images/newwindow.png") right center no-repeat;
    padding-right: 18px;
}

.section {
    width: 785px;
}

.source {
    border: 1px solid #999;
    width: 775px;
}

#container {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    left: auto;
    right: auto;
    height: 100%;
}

#header {
    clear: both;
    height: 157px;
    background-image: url("../images/header-blue.png");
    background-repeat: no-repeat;
}

#subProjectsNavBar {
    color: white;
    text-align: right;
    margin: 0px;
    color: #ffffff;
    padding: 134px 14px 2px;
    font-size: 12px;
}

#subProjectsNavBar a,#subProjectsNavBar a:link,#subProjectsNavBar a:visited {
    color: #ffffff;
    text-decoration: none;
}

#subProjectsNavBar a:hover {
    color: #ffffff;
    border-bottom: solid #ffffff 1px;
}

#subProjectsNavBar a strong {
    font-size: 14px;
    font-weight: bold;
    color: #ffffff;
    border-bottom: solid #ffffff 1px;
}

#content {
    margin: auto;
    width: 100%;
    overflow: auto;
    background: url("../images/content-background.png") repeat-y;
}

#endContent {
    clear: both;
}

#endHeader {
    clear: both;
}

#leftColumn {
    width: 185px;
    padding-left: 10px;
    padding-right: 5px;
    float: left;
}

xmp,pre,plaintext {
    overflow-x: auto;
    font-family: '-moz-fixed';
    white-space: pre;
}

#rightColumn {
    width: 785px;
    padding-left: 5px;
    padding-right: 10px;
    text-align: left;
    padding-top: 8px;
    float: right;
}

h1,h2,h3,h4,h5,h6,h7,h8 {
    color: #2c7a95;
}

h2 {
    font-size: 1.25em;
}

h3 {
    font-size: 1em;
}

h5 {
    font-size: 1em;
}

a {
    color: #777777;
    text-decoration: underline;
}

a:hover {
    color: #000000;
}

a.none {
    background: transparent;
    padding-right: 0px;
}

#navigation ul {
    margin: 0px;
    padding: 0px;
}

#navigation li {
    list-style-type: none;
    margin-left: 10px;
    padding-left: 0px;
    background-position: 0 4.5px;
    list-style-position: outside;
    padding-left: 16px;
}

#navigation li.collapsed {
    background-image: url("../images/collapsed.gif");
    background-repeat: no-repeat;
}

#navigation li.expanded {
    background-image: url("../images/expanded.gif");
    background-repeat: no-repeat;
}

#navigation a {
    text-decoration: none;
    color: #777777;
}

#navigation a:hover {
    color: #000000;
    /* font-weight: bolder; */
}

#navigation div {
    line-height: 1.5em;
    margin-bottom: 2em;
    margin-left: 5px;
    margin-right: 5px;
    display: block;
}

#navigation h5 {
    font-size: 1em;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

#navigation strong {
    color: #000000;
}

#footer {
    clear: both;
    font-size: 11px;
    width: 1000px;
    height: 32px;
    text-align: center;
    background-image: url("../images/footer.png");
    background-repeat: no-repeat;
}

.nobr sup img {
    display: none;
}

.preformattedContent pre {
    padding: 5px 5px;
    border: 1px dashed #2c7a95;
    background-color: #f0f0f0;
}

blockquote {
    margin: 10px;
    padding: 0px 10px;
    border-left: 1px solid #2c7a95;
}

p {
    line-height: 1.3em;
    font-size: small;
}

table.bodyTable {
    width: 100%;
    word-wrap: break-word;
}

table.bodyTable th {
    color: white;
    background-color: #bbb;
    text-align: left;
    font-weight: bold;
    word-wrap: break-word;
}

table.bodyTable th,table.bodyTable td {
    font-size: 1em;
    word-wrap: break-word;
}

table.bodyTable tr.a {
    background-color: #ddd;
}

table.bodyTable tr.b {
    background-color: #eee;
}

.noteMacro {
    border: 1px solid #f0c000;
    background-color: #ffffce;
    margin-top: 5px;
    margin-bottom: 5px
}

.warningMacro {
    border: 1px solid #c00;
    background-color: #fcc;
    text-align: left;
    margin-top: 5px;
    margin-bottom: 5px
}

.infoMacro {
    border: 1px solid #3c78b5;
    background-color: #D8E4F1;
    text-align: left;
    margin-top: 5px;
    margin-bottom: 5px
}

.tipMacro {
    border: 1px solid #090;
    background-color: #dfd;
    text-align: left;
    margin-top: 5px;
    margin-bottom: 5px
}

.code {
    border: 1px dashed #3c78b5;
    font-size: 11px;
    font-family: 'Courier';
    margin: 10px;
    line-height: 13px;
}

.codeHeader {
    background-color: #f0f0f0;
    border-bottom: 1px dashed #3c78b5;
    padding: 3px;
    text-align: center;
}

.codeContent {
    text-align: left;
    background-color: #f0f0f0;
    padding: 3px;
}

.code-keyword {
    color: #000091;
    background-color: inherit;
}

.code-object {
    color: #910091;
    background-color: inherit;
}

.code-quote {
    color: #009100;
    background-color: inherit;
}

.code-comment {
    color: #808080;
    background-color: inherit;
}

.code-xml .code-keyword {
    color: inherit;
    font-weight: bold;
}

.code-tag {
    color: #000091;
    background-color: inherit;
}

.errormark,.warningmark,.donemark,.infomark {
    background: url("../images/icon_error_sml.gif") no-repeat;
}

.warningmark {
    background-image: url("../images/icon_warning_sml.gif");
}

.donemark {
    background-image: url("../images/icon_success_sml.gif");
}

.infomark {
    background-image: url("../images/icon_info_sml.gif");
}